<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="StaticParts :: html_head">
</head>

<body>
<div th:replace="StaticParts :: menu">
</div>

    <div class="mx-auto text-center container shadow-sm p-4">

        <form>
            <div class="row justify-content-center">
                <div class="form-group col-5">
                    <label for="exampleInputEmail1">Email cím</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-5">
                    <label for="exampleInputPassword1">Jelszó</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Küldés</button>
    </form>
    </div>

    <div th:replace="StaticParts :: footer">
    </div>
</body>

</html>