<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Tárgy Jelentkező Alkalmazás</title>
</head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/index}">Tárgy Jelentkező Alkalmazás</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index}">Főoldal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Registration}">Regisztráció</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Login}">Bejelentkezés</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div th:fragment="footer">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <footer class="text-center fixed-bottom">
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);" >
            Békési Ádám István, Juhász Kristóf, Diófási-Takács Krisztián
            <br>
            © 2021 Copyright.
        </div>
    </footer>
</div>
</body>
</html>